/* Box model */
*,
*:before
*:after {
    box-sizing: border-box;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/* Stuff... */
.note {
    font-size: .9em;
    font-style: italic;
}

.note:before {
    content: 'Note: ';
}

.error {
    color: #f00;
}

.responsive-container {
    overflow-x: auto;
}

.footnote-link {
    text-decoration: none;
}

.footnote-link:before {
    content: '\2009';
}

.footnotes {
    list-style-type: none !important;
}

.footnotes li:before {
    content: '[' attr(data-number) '] ';
}