/* Box model */
*,
*:before
*:after {
    box-sizing: border-box;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/* Stuff... */
.note {
    font-size: .9em;
    font-style: italic;
}

.note:before {
    content: 'Note: ';
}

.error {
    color: #f00;
}