/***********************************************************************************************************************
*
* GENERAL STYLINGS USED ON EVERY PAGE.
*
***********************************************************************************************************************/

/**
* IE10 snap mode fix.
* See http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ for further information.
*/
@-ms-viewport {
    width: device-width;
}

/**
* Layout elements.
**/
body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    font: 1em/1.2 Raleway, sans-serif;
    color: rgb(66, 36, 36);
}

header,
main,
footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

nav ul,
nav ol {
    list-style-type: none;
    padding: 0;
}

nav li {
    float: left;
    margin-right: 1em;
}

main {
    -webkit-flex: 1;
    flex: 1 0 auto;
    margin: 0 0 1em 0;
    padding: 0 1em 1.5em 1em;
}

main > * {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
}

section + section {
    margin-top: 5em;
}

body > footer {
    border-top: 1px solid rgba(66, 36, 36, .5);
    box-shadow: inset 0 10px 5px -10px rgba(66, 36, 36, .8);
}

/**
* Text elements.
**/
h1 {
    margin: 0.2em 0;
    font-family: 'Princess Sofia', cursive;
    font-size: 4em;
    font-weight: 400;
    color: rgb(73,158,141);
    text-shadow: 1px 1px 3px rgb(133,204,159);
}

@media (max-width: 30em) {
    h1 {
        font-size: 3em;
        text-shadow: 1px 1px 0 #499e8d, 3px 3px 0 rgba(200,232,200,.5);
    }
}

h2 {
    border-bottom: 1px solid rgba(66, 36, 36, .7);
}

a {
    color: rgb(73,158,141);
}

a:hover,
a:focus {
    color: rgb(29, 63, 56);
}

a[href^=http]:after {
    content: '\27B6';
    display: inline-block;
    margin-left: .2em;
    font-size: 1.2em;
    text-decoration: none;
}