/***********************************************************************************************************************
*
* GENERAL STYLINGS USED ON EVERY PAGE.
*
***********************************************************************************************************************/

/**
* IE10 snap mode fix.
* See http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ for further information.
*/
@-ms-viewport {
    width: device-width;
}

/**
* Layout elements.
**/
body {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: 1.1em/1.3 Raleway, sans-serif;
    color: rgb(66, 36, 36);
}

header,
main,
body > footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

header {
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*height: 7.5em;*/
    /*z-index: 1000;*/

    box-shadow: 0 0 5px #888;
}

nav ul,
nav ol {
    list-style-type: none;
    padding: 0;
}

nav li {
    float: left;
    margin-right: 1em;
}

main {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1;
    flex: 1 0 auto;
    margin: 0 0 1em 0;
    padding: 0 1em 1.5em 1em;
}

/*.not-scrolled main {*/
    /*margin-top: 7.5em;*/
/*}*/

main > * {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
}

section + section {
    margin-top: 2.5em;
}

body > footer {
    padding-bottom: 1em;
    border-top: 1px solid rgba(66, 36, 36, .5);
    box-shadow: inset 0 10px 5px -10px rgba(66, 36, 36, .8);
}

/**
* Text elements.
**/
header h1 {
    margin: 0.2em 0;
    font-size: 4em;
    font-weight: 400;
}

@media (max-width: 30em) {
    header h1 {
        font-size: 3em;
        text-shadow: 1px 1px 0 #499e8d, 3px 3px 0 rgba(200,232,200,.5);
    }
}

h1 span {
    font-family: monospace;
    font-size: .5em;
}

@media (max-width: 50rem) {
    h1 span {
        display: block;
    }
}

@media (min-width: 480px) {
    main h1,
    h2 {
        border-bottom: 1px solid rgba(66, 36, 36, .7);
    }
}

a {
    color: rgb(73,158,141);
}

a:hover,
a:focus {
    color: rgb(29, 63, 56);
}



/**
* Page elements
**/
.logo {
    font-family: 'Princess Sofia', cursive;
    font-weight: 400;
    color: rgb(73,158,141);
    text-shadow: 1px 1px 3px rgb(133,204,159);
    text-decoration: none;
}

a.logo {
    float: left;
    margin: .5em;
    font-size: 2em;
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    background: #f9f9f9;
    border-left: 10px solid rgba(73,158,141, .5);
}

blockquote:before {
    content: open-quote;
    margin-right: 0.25em;
    font-family: serif;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: rgba(73,158,141, .5);
}

blockquote p {
    display: inline;
}

blockquote footer {
    margin-top: .7em;
    text-align: right;
}

dd + dt {
    margin-top: 1em;
}

dd {
    /*margin-left: 0;*/
}

dd > ul {
    padding-left: 0;
}

ul.link-list {
    list-style-type: square;
    color: rgb(73,158,141);
}

li + li {
    margin-top: .5em;
}

code {
    font-family: monospace;
    font-size: 1.2em;
    background-color: rgba(204, 204, 204, .5);
    word-wrap: break-word;
}

.info-box {
    padding: .7em;
    border: 1px solid rgba(73,158,141, .5);
}

.info-box ul {
    list-style-type: none;
}