/***********************************************************************************************************************
*
* GENERAL STYLINGS USED ON EVERY PAGE.
*
***********************************************************************************************************************/

/**
* IE10 snap mode fix.
* See http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ for further information.
*/
@-ms-viewport {
    width: device-width;
}

/**
* Layout elements.
**/
body {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: 1.1em/1.5 Raleway, sans-serif;
    color: rgb(66, 36, 36);
    overflow-x: hidden;
    overflow-y: scroll;
}

header,
main,
body > footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* TODO: -ms und -webkit flex! */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em .5em;
    box-shadow: 0 0 5px #888;
}

body:not(.home) header {
    padding-top: .5em;
    padding-bottom: .5em;
}

nav ul,
nav ol {
    list-style-type: none;
    padding: 0;
}

main {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1;
    flex: 1 0 auto;
    margin: 0 0 1em 0;
    padding: 0 1em 1.5em 1em;
}

main > * {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
}

section + section {
    margin-top: 2.5em;
}

body:not(.home) h2 {
    font-size: 1.17em;
}

body > footer {
    padding-bottom: 1em;
    border-top: 1px solid rgba(66, 36, 36, .5);
    box-shadow: inset 0 10px 5px -10px rgba(66, 36, 36, .8);
}

/**
* Text elements.
**/
header h1 {
    font-size: 4em;
    font-weight: 400;
}

@media (max-width: 30em) {
    header h1 {
        font-size: 3em;
        text-shadow: 1px 1px 0 #499e8d, 3px 3px 0 rgba(200,232,200,.5);
    }
}

@media (min-width: 480px) {
    .article-title {
        border-bottom: 1px solid rgba(66, 36, 36, .7);
    }
}

a {
    color: rgb(73,158,141);
    transition: color .3s ease-out;
}

a:hover,
a:focus {
    color: rgb(29, 63, 56);
}

::-moz-selection {
    background: rgb(73,158,141);
    color: #fff;
}

::selection {
    background: rgb(73,158,141);
    color: #fff;
}


/**
* Page elements
**/
.logo {
    /** TODO: add -ms and -webkit support! */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    font-family: 'Princess Sofia', cursive;
    font-weight: 400;
    color: rgb(73,158,141);
    text-shadow: 1px 1px 3px rgb(133,204,159);
    text-decoration: none;
}

a.logo {
    font-size: 2em;
}

.logo span {
    margin-left: 5px;
    font-family: monospace;
    font-size: .5em;
}

@media (max-width: 50rem) {
    .logo span {
        display: block;
    }
}

.article-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.article-title time {
    font-size: .5em;
    font-weight: normal;
}

blockquote {
    margin: 1.5em 0;
    padding: 0.5em 10px;
    background: #f9f9f9;
    border-left: 10px solid rgba(73,158,141, .5);
}

blockquote:before {
    content: "\201C";
    margin-right: 0.25em;
    font-family: serif;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: rgba(73,158,141, .5);
}

blockquote p {
    display: inline;
}

blockquote footer {
    margin-top: .7em;
    text-align: right;
}

dd + dt {
    margin-top: 1em;
}

dd > ul {
    padding-left: 0;
}

ul.link-list {
    list-style-type: square;
    color: rgb(73,158,141);
}

li + li {
    margin-top: .5em;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

figcaption {
    font-size: .8em;
    font-style: italic;
}

.info-box {
    padding: .7em;
    border: 1px solid rgba(73,158,141, .5);
}

.info-box ul {
    list-style-type: none;
}