/* Toggle button - START */
.nav-toggler {
    width: 22px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.nav-toggler path {
    stroke: rgb(73,158,141);
    stroke-width: 3;
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 11px 10px;
    transition: stroke .3s ease-out, transform .3s ease-out;
}

.nav-toggler path:nth-child(2) {
    transform: scale(1);
}

.nav-toggler:focus {
    outline: none;
}

.nav-toggler:hover path,
.nav-toggler:focus path {
    stroke: rgb(29, 63, 56);
}

.nav-toggler.open path:first-child {
    transform: rotate(45deg) translateX(0px) translateY(10px);
}

.nav-toggler.open path:nth-child(2) {
    transform: scale(0);
}

.nav-toggler.open path:last-child {
    transform: rotate(-45deg) translateX(-2px) translateY(-6px);
}
/* Toggle button - END */

/* Main navigation - START */
header {
    position: relative;
}

header nav {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    /* TODO: -ms und -webkit */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vw - 115px);
    background-color: rgba(255, 255, 255, .95);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: opacity .6s, transform .6s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body:not(.home) header nav {
    height: calc(100vh - 70px);
}

header nav.open {
    opacity: 1;
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header nav ul {
    margin: 0;
}

header nav ul ul {
    margin-left: 1em;
}
/* Main navigation - END */