/***********************************************************************************************************************
*
* DEFINING SOME DEFAULT VALUES TO MAKE FINDING THEM MORE EASY WHILE DEVELOPING.
*
***********************************************************************************************************************/

:root {
    --main:             rgb(73,158,141);
    --main-light:       rgb(133,204,159);
    --main-very-light:  rgb(200,232,200);

    --text-main:        rgb(66, 36, 36);
}